<%= link_to new_recipe_path, class: "float" do %>
<%= image_tag "plus.png", class: "my-float" %>
<% end %>
<div class="footer-bar justify-content-center">
  <%= link_to root_path, class:"no-float" do %>
  <i class="fa fa-home"></i>
  <% end %>
  <%= link_to homes_profile_path, class:"no-float" do %>
  <i class="fa fa-user"></i>
  <% end %>
</div>
